.cButtonDesign {

    display: flex;
    justify-content: center;
    align-items: center;

    color: #B5EFDC;
    font-weight: bold;

    cursor: pointer;
    transition: 0.2s;
    margin: 2em;
}

.cButtonDesign:hover {
    color: whitesmoke;
    width: 10em;
    transform: scale(1.2);
    transition: 0.2s;
    box-shadow: rgb(127, 238, 9, 0.25) 0 0 10px 10px;
}