.profile-design {
    height: 80vh;
    width: 100vw;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.white-color {
    color: whitesmoke;
}

.greenish {
    color: #B5EFDC;
}

.inputDesign {
    margin: 2.5em;
}

.loader {
    height: 2.5em;
}

.border-edit {
    border: 0.05em solid #B5EFDC;
    background-color: rgb(30, 30, 30);
}