.home-design {
    height: 80vh;
    width: 100vw;

    background-color: #B5EFDC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif {
    height: 80vh;
    /* overflow: hidden; */
}