.textareaDesign {
    overflow-y: hidden;
    min-width: 42vw;
    height: 5em;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap;
    overflow-wrap: break-word; */
    background-color: #98eed1;
    border-radius: 0.5em;

    border: 0.02em solid blueviolet;

}