.header-design {
    height: 12vh;
    width: 100vw;

    background: rgb(122, 9, 238);
    background: linear-gradient(90deg, rgba(122, 9, 238, 1) 0%, rgba(250, 0, 255, 1) 100%);

    box-shadow: rgba(122, 9, 238, 1) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    cursor: pointer;
}

.search-bar {
    height: 3vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    border: none;
    border-radius: 2em 2em 2em 2em;
    box-shadow: rgba(50, 50, 93, 0.75) 0px 0.3em 0.6em -2px inset, rgba(0, 0, 0, 0.73) 0px 0.2em 0.4em -2px inset;

}


.logo>img {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em 2em 2em 2em;
    box-shadow: rgba(0, 0, 0, 0.581) 0px 5px 5px;
}

.navigator-design {
    display: flex;
    flex-direction: row;

}

.out-design span {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 4em;
    margin: 1em;

    transition: 0.3s;

}

.out-design span:hover {

    transition: 0.3s;
    color: white;
    cursor: pointer;

}

.out-design:hover {
    transition: 0.3s;
    color: black;
    cursor: pointer;
}

.search {
    height: 6vh;
    width: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.01em dashed #B5EFDC;
    margin: 1em;
    padding-left: 1em;
    border-radius: 0.5em;
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(134, 134, 134, 1) 77%, rgba(221, 17, 204, 1) 100%); */
    background-color: black;
    color: whitesmoke;
}

.on-the-right {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5em;
    width: 15em;
}

.on-the-right input {
    background-color: #B5EFDC;

}